<!--------------------------------------------------------------------------------------------------------
// TopMenu.razor
// Copyright (c) 2022 RHEA System S.A.
// 
// Author: Antoine Théate, Sam Gerené, Alex Vorobiev, Alexander van Delft, Martin Risseeuw
// 
// This file is part of UI-DSM. 
// The UI-DSM web application is used to review an ECSS-E-TM-10-25 model.
// 
// The UI-DSM application is provided to the community under the Apache License 2.0.
-------------------------------------------------------------------------------------------------------->

@namespace AppComponents

<nav class="top-menu">
  <div class="top-menu__left">
    <div class="top-menu__icon-group">

      <NavLink href="/">
        <FeatherHome Size="28" Color="currentColor" StrokeWidth="1.5f"  aria-label="home button"/>
      </NavLink>

      <button aria-label="open task panel">
       <FeatherCheckCircle Size="28" Color="currentColor" StrokeWidth="1.5f" />
      </button>
    </div>


    <div class="top-menu__icon-group">
      <button aria-label="Previous page" onclick="history.back()">
        <FeatherArrowLeft Size="28" Color="currentColor" StrokeWidth="1.5f"  />
      </button>

      <button aria-label="Previous page" onclick="history.forward()">
        <FeatherArrowRight Size="28" Color="currentColor" StrokeWidth="1.5f" />
      </button>
    </div>
  </div>

  <SearchBar />

  <div class="top-menu__right">
    <div class="top-menu__icon-group">
      <button aria-label="Previous page" onclick="history.forward()">
        <FeatherMessageCircle Size="28" Color="currentColor" StrokeWidth="1.5f"  aria-label="Open chat"/>
      </button>

      <div id="user-icon-button">
        <button @onclick="() => IsUserMenuOpen = !IsUserMenuOpen">
          <UserAvatar UserInitials="MJ" />
        </button>
        
        <DxDropDown
          @bind-IsOpen="@IsUserMenuOpen"
          PositionMode="DropDownPositionMode.Bottom"
          PositionTarget="#user-icon-button"
          CloseMode="DropDownCloseMode.Close"
          PreventCloseOnPositionTargetClick="true"
          BodyCssClass="account-dropdown"
        >
          <ul>
            <AuthorizeView Roles="Administrator">
              <Authorized>
                <li>
                  <NavLink href="/Administration/UserManagement" Match="NavLinkMatch.All" @onclick="() => IsUserMenuOpen = !IsUserMenuOpen">
                    <FeatherUserPlus Size="24" Color="currentColor" StrokeWidth="1.5f"  /> Users
                  </NavLink>
                </li>
                <li>
                  <NavLink class="account-dropdown__link" href="/Administration/ProjectManagement" @onclick="() => IsUserMenuOpen = !IsUserMenuOpen">
                    <FeatherToggleLeft Size="24" Color="currentColor" StrokeWidth="1.5f"  /> Project Management
                  </NavLink>
                </li>
                <li>
                  <NavLink href="/Administration/RoleManagement" Match="NavLinkMatch.All" @onclick="() => IsUserMenuOpen = !IsUserMenuOpen">
                    <FeatherUsers Size="24" Color="currentColor" StrokeWidth="1.5f"  /> Roles
                  </NavLink>
                </li>
              </Authorized>
            </AuthorizeView>
            <li>
              <Logout/>
            </li>
          </ul>

        </DxDropDown>
      </div>
    </div>
  </div>
</nav>

@code {

  /// <summary>
  ///     Bool to keep track of the open state of the user dropdown menu
  /// </summary>
  bool IsUserMenuOpen { get; set; } = false;
}