@namespace AppComponents

<button class="app-button" type="@Type" @onclick="Click">@Label</button>

@code {
    [Parameter] public string? Label { get; set; }
    [Parameter] public string? Type { get; set; }
    
    [Parameter]
    public EventCallback Click { get; set; }
}