.app-review-header {
  padding: var(--spacing-6);
  gap: var(--spacing-2);
  background-color: var(--colors-primary-50);
  display: grid;
  border-radius: var(--radius-2);
}

.app-review-header p {
  margin-bottom: 0;
  opacity: 0.8;
  font-size: var(--text-xl);
  font-weight: 500;
}

.app-review-header h1 {
  font-size: var(--text-2xl);
  opacity: 0.9;
}
