<!--------------------------------------------------------------------------------------------------------
// AppReviewHeader.razor
// Copyright (c) 2022 RHEA System S.A.
// 
// Author: Antoine Théate, Sam Gerené, Alex Vorobiev, Alexander van Delft, Martin Risseeuw
// 
// This file is part of UI-DSM. 
// The UI-DSM web application is used to review an ECSS-E-TM-10-25 model.
// 
// The UI-DSM application is provided to the community under the Apache License 2.0.
-------------------------------------------------------------------------------------------------------->

@namespace AppComponents

<div class="app-review-header">
  <h1 class="app-review-header__title">@Title</h1>
  <p class="app-review-header__description">@Description</p>
</div>

@code {
  /// <summary>
  /// Title prop for the review header
  /// </summary>
  [Parameter]
  public string Title { get; set; }

  /// <summary>
  /// Description text for the review header
  /// </summary>
  [Parameter]
  public string Description { get; set; }
}