.task-page {
  height: 100%;
  display: grid;
  grid-template-areas: "a b c";
  grid-template-columns: 18vw 64vw 18vw;
}

.task-page__sidebar__left {
  grid-area: a;
  border-right: 1px solid var(--colors-gray-100);
  overflow: auto;
  height: calc(100vh - 114px);
}

.task-page__sidebar__right {
  grid-area: c;
  border-left: 1px solid var(--colors-gray-100);
  overflow: auto;
  height: calc(100vh - 114px);
}

.task-page__body {
  grid-area: b;
  padding: var(--spacing-8);
}

.task-page__actions {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: var(--spacing-2);
}
