<!--------------------------------------------------------------------------------------------------------
// TraceabilityVisibilitySelector.razor
// Copyright (c) 2022 RHEA System S.A.
// 
// Author: Antoine Théate, Sam Gerené, Alex Vorobiev, Alexander van Delft, Martin Risseeuw, Nabil Abbar
// 
// This file is part of UI-DSM. 
// The UI-DSM web application is used to review an ECSS-E-TM-10-25 model.
// 
// The UI-DSM application is provided to the community under the Apache License 2.0.
-------------------------------------------------------------------------------------------------------->
@using UI_DSM.Client.Enumerator

@if (this.ViewModel != null)
{
	<div>
		<RadzenRadioButtonList @bind-Value="this.ViewModel.VisibilityState">
			<Items>
				<RadzenRadioButtonListItem Text="Show all" Value="@TraceabilityToVisibilityState.All"/>
				<RadzenRadioButtonListItem Text="Show with trace" Value="@TraceabilityToVisibilityState.WithTrace" />
				<RadzenRadioButtonListItem Text="Show without trace" Value="@TraceabilityToVisibilityState.WithoutTrace"/>
			</Items>
		</RadzenRadioButtonList>
	</div>
}
