<!--------------------------------------------------------------------------------------------------------
// AppObjectiveItem.razor
// Copyright (c) 2022 RHEA System S.A.
// 
// Author: Antoine Théate, Sam Gerené, Alex Vorobiev, Alexander van Delft, Martin Risseeuw
// 
// This file is part of UI-DSM. 
// The UI-DSM web application is used to review an ECSS-E-TM-10-25 model.
// 
// The UI-DSM application is provided to the community under the Apache License 2.0.
-------------------------------------------------------------------------------------------------------->

@namespace AppComponents

<NavLink href="@Link">
  <article class="app-objective-item">
    <h3>@Title</h3>
  </article>
</NavLink>


@code {
  /// <summary>
  /// Project title
  /// </summary>
  [Parameter] public string Title { get; set; }

  /// <summary>
  /// Objective link
  /// </summary>
  [Parameter] public string Link { get; set; }
}
