.top-menu {
  padding: var(--spacing-3) var(--spacing-4);
  border-bottom: 1px solid var(--colors-gray-100);
  display: grid;
  gap: var(--spacing-12);
  list-style: none;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.top-menu__left {
  display: flex;
  gap: var(--spacing-20);
  align-items: center;
}

.top-menu__right {
  display: flex;
  gap: var(--spacing-8);
  justify-content: flex-end;
  align-items: center;
}

.top-menu__icon-group {
  display: flex;
  gap: var(--spacing-4);
  align-items: center;
}

.top-menu button {
  line-height: 1;
}