.app-button {
  font-weight: bold;
  padding: var(--spacing-1) var(--spacing-4);
  background: var(--colors-primary-500);
  color: var(--colors-white);
  border-radius: var(--radius-1);
  transition: 0.15s ease-in-out;
  height: var(--spacing-11);
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
  justify-content: center;
}

.app-button:hover {
  background: var(--colors-primary-700);
}

.app-button:focus {
  outline: 2px solid var(--colors-primary-900);
}

.app-button--success {
  background: var(--colors-green-100);
  color: var(--colors-green-800);
}

.app-button--success:focus {
  outline: 2px solid var(--colors-green-800);
}

.app-button--success:hover {
  background: var(--colors-green-600);
  color: var(--colors-white);
}

.app-button--tertiary {
  background: transparent;
  box-shadow: inset 0 0 0 2px var(--colors-primary-900);
  color: var(--colors-primary-900);
}

.app-button--tertiary:focus {
  outline: 2px solid var(--colors-primary-700);
}

.app-button--tertiary:hover {
  background: var(--colors-primary-900);
  color: var(--colors-white);
}


.app-button--small-secondary {
  font-weight: 600;
  padding: var(--spacing-1) var(--spacing-3);
  font-size: var(--text-sm);
  height: auto;
}

.app-button--small-success {
  font-weight: 600;
  background: var(--colors-green-100);
  color: var(--colors-green-800);
  padding: var(--spacing-1) var(--spacing-3);
  font-size: var(--text-sm);
  height: auto;
}