<!--------------------------------------------------------------------------------------------------------
// PhysicalFlowView.razor
// Copyright (c) 2022 RHEA System S.A.
//
// Author: Antoine Théate, Sam Gerené, Alex Vorobiev, Alexander van Delft, Martin Risseeuw, Nabil Abbar
//
// This file is part of UI-DSM.
// The UI-DSM web application is used to review an ECSS-E-TM-10-25 model.
//
// The UI-DSM application is provided to the community under the Apache License 2.0.
-------------------------------------------------------------------------------------------------------->
@using Blazor.Diagrams.Components;
@using UI_DSM.Client.Components.Widgets;
@using UI_DSM.Client.Components.NormalUser.DiagrammingConfiguration;

@inherits GenericBaseView<UI_DSM.Client.ViewModels.Components.NormalUser.Views.IInterfaceViewViewModel>

<DxPopup CloseOnOutsideClick="false" HeaderText="Save Configuration" @bind-Visible="@this.ViewModel.IsOnSavingMode">
    <Content>
        <DiagrammingConfigurationPopup ViewModel="@this.ViewModel.DiagrammingConfigurationPopupViewModel" />
    </Content>
</DxPopup>

<CascadingValue Value="this.Diagram">
    <div id="diagram-parent">
        <LoadingComponent IsLoading="@this.IsLoading">
            <DiagramCanvas></DiagramCanvas>
            <DiagramLegendWidget></DiagramLegendWidget>
            <AppButton Label="Save layout" Type="button" Variant="AppButton.VariantValue.Tertiary" Click="@this.ViewModel.OpenSavingPopup">
                <FeatherSave Size="20" Color="currentColor" StrokeWidth="2" /> <span>Save</span>
            </AppButton>
        </LoadingComponent>
    </div>
</CascadingValue>
