<!--------------------------------------------------------------------------------------------------------
// Index.razor
// Copyright (c) 2022 RHEA System S.A.
// 
// Author: Antoine Théate, Sam Gerené, Alex Vorobiev, Alexander van Delft
// 
// This file is part of UI-DSM. 
// The UI-DSM web application is used to review an ECSS-E-TM-10-25 model.
// 
// The UI-DSM application is provided to the community under the Apache License 2.0.
-------------------------------------------------------------------------------------------------------->

@page "/index"

<PageTitle>Dashboard | UI-DSM</PageTitle>

<h1>UI-DSM</h1>

The UI-DSM web application is used to review an ECSS-E-TM-10-25 model.

@foreach (var project in this.ViewModel.AvailableProject.Items)
{
	<div id="@project.ProjectName">
		@project.ProjectName
	</div>
}