<!--------------------------------------------------------------------------------------------------------
// AppProjectCard.razor
// Copyright (c) 2022 RHEA System S.A.
// 
// Author: Antoine Théate, Sam Gerené, Alex Vorobiev, Alexander van Delft, Martin Risseeuw
// 
// This file is part of UI-DSM. 
// The UI-DSM web application is used to review an ECSS-E-TM-10-25 model.
// 
// The UI-DSM application is provided to the community under the Apache License 2.0.
-------------------------------------------------------------------------------------------------------->

@namespace AppComponents

<article class="app-project-card">
  <div class="app-project-card__header">
    <h2 class="app-project-card__title h3">@Title</h2>
    <span class="app-project-card__date">created at: @Created</span>
  </div>
  <div class="app-project-card__footer">

    @if (Tasks >= 0)
    {
      <div class="app-project-card__stat">
        <div class="app-project-card__icon">
          <FeatherCheckCircle Color="currentColor" Size="24" />
        </div>
        <div class="stat__body">
          <span class="stat__label">Tasks</span>
          <span class="stat__amount h4">@Tasks</span>
        </div>
      </div>
    }

    @if (this.OpenComments >= 0)
    {
      <div class="app-project-card__stat">
        <div class="app-project-card__icon">
          <FeatherMessageCircle Color="currentColor" Size="24" />
        </div>
        <div class="stat__body">
          <span class="stat__label">Comments</span>
          <span class="stat__amount">@(this.OpenComments)/@(this.TotalComments)</span>
        </div>
      </div>
    }

  </div>
</article>


@code {
  /// <summary>
  /// Project title
  /// </summary>
  [Parameter] public string Title { get; set; }

  /// <summary>
  /// Created date of the project
  /// </summary>
  [Parameter] public string Created { get; set; }

  /// <summary>
  /// Amount of Tasks
  /// </summary>
  [Parameter] public int Tasks { get; set; }

  /// <summary>
  /// Amount of open comments
  /// </summary>
  [Parameter] public int OpenComments { get; set; }

	/// <summary>
	/// Amount of comments
	/// </summary>
	[Parameter] public int TotalComments { get; set; }

}