<!--------------------------------------------------------------------------------------------------------
// RequirementTraceabilityToFunctionView.razor
// Copyright (c) 2022 RHEA System S.A.
// 
// Author: Antoine Théate, Sam Gerené, Alex Vorobiev, Alexander van Delft, Martin Risseeuw, Nabil Abbar
// 
// This file is part of UI-DSM. 
// The UI-DSM web application is used to review an ECSS-E-TM-10-25 model.
// 
// The UI-DSM application is provided to the community under the Apache License 2.0.
-------------------------------------------------------------------------------------------------------->
@inherits HaveTraceabilityTableView<UI_DSM.Client.ViewModels.Components.NormalUser.Views.IRequirementTraceabilityToFunctionViewViewModel>

<div class="view-actions">
	<div class="left-actions">
		<ConnectionVisibilitySelector @ref="this.ConnectionVisibilitySelector" />
	</div>

	<div class="right-actions">
		<Filter @ref="this.RowFiltering" Id="row">
			<FeatherFilter Size="20" Color="currentColor" StrokeWidth="2"/> <span>Filter</span>
		</Filter>

		<Filter @ref="this.ColumnFiltering" Id="column">
			<FeatherColumns Size="20" Color="currentColor" StrokeWidth="2" /> <span>Column</span>
		</Filter>
	</div>
</div>

<TraceabilityTable @ref="this.Table"/>