<!--------------------------------------------------------------------------------------------------------
// NormalProjectPage.razor
// Copyright (c) 2022 RHEA System S.A.
//
// Author: Antoine Théate, Sam Gerené, Alex Vorobiev, Alexander van Delft, Martin Risseeuw, Nabil Abbar
//
// This file is part of UI-DSM.
// The UI-DSM web application is used to review an ECSS-E-TM-10-25 model.
//
// The UI-DSM application is provided to the community under the Apache License 2.0.
-------------------------------------------------------------------------------------------------------->
@page "/Project/{ProjectId}"
@layout DefaultLayout

<PageTitle>Project | UI-DSM</PageTitle>

@if(!this.IsLoading && this.ViewModel.ProjectReviewViewModel.Project is null){
    <div style="display: flex; align-items: center; justify-content: center;">
        <h3>Project not found</h3>
    </div>
}
else{
    <LoadingComponent IsLoading="this.IsLoading">
        <ProjectReview ViewModel="@this.ViewModel.ProjectReviewViewModel" />
    </LoadingComponent>
}