<!--------------------------------------------------------------------------------------------------------
// NavMenu.razor
// Copyright (c) 2022 RHEA System S.A.
// 
// Author: Antoine Théate, Sam Gerené, Alex Vorobiev, Alexander van Delft
// 
// This file is part of UI-DSM. 
// The UI-DSM web application is used to review an ECSS-E-TM-10-25 model.
// 
// The UI-DSM application is provided to the community under the Apache License 2.0.
-------------------------------------------------------------------------------------------------------->

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">UI_DSM</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
	    <div class="nav-item px-3">
		    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
			    <span class="oi oi-home" aria-hidden="true"></span> Home
		    </NavLink>
	    </div>
	    <AuthorizeView Roles="Administrator">
		    <Authorized>
			    <div class="nav-item px-3">
				    <NavLink class="nav-link" href="/administration/usermanagement" Match="NavLinkMatch.All">
					    <span class="oi oi-person" aria-hidden="true"></span> Users
				    </NavLink>
			    </div>
		    </Authorized>
	    </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
