:root {
  --colors-black: #111111;
  --colors-primary-50: #E6E7FD;
  --colors-primary-100: #D3D4FB;
  --colors-primary-200: #AEAFF8;
  --colors-primary-300: #888BF4;
  --colors-primary-400: #6366F1;
  --colors-primary-500: #3034EC;
  --colors-primary-600: #1317D1;
  --colors-primary-700: #0E119E;
  --colors-primary-800: #0A0C6A;
  --colors-primary-900: #050637;
  --colors-secondary-50: #ffeeb9;
  --colors-secondary-100: #ffe8a4;
  --colors-secondary-200: #ffde7b;
  --colors-secondary-300: #ffd453;
  --colors-secondary-400: #ffca2a;
  --colors-secondary-500: #ffc001;
  --colors-secondary-600: #c89600;
  --colors-secondary-700: #906c00;
  --colors-secondary-800: #584200;
  --colors-secondary-900: #201800;
  --colors-mustard-500: #ffc001;
  --colors-cool-500: #f5f7f3;
  --colors-warm-500: #fff9f3;
  --colors-warm-600: #fff5eb;
  --colors-warm-700: #f5e5d6;
  --colors-gray-50: #f2f3f2;
  --colors-gray-100: #e6e6e5;
  --colors-gray-200: #cccdcb;
  --colors-gray-300: #b3b4b1;
  --colors-gray-400: #999b97;
  --colors-gray-500: #80827d;
  --colors-gray-600: #646562;
  --colors-gray-700: #484946;
  --colors-gray-800: #2c2c2b;
  --colors-gray-900: #0f100f;
  --colors-neutral-100: #f7f8f9;
  --colors-neutral-200: #f7f8f9;
  --colors-neutral-300: #f7f8f9;
  --colors-neutral-400: #f7f8f9;
  --colors-neutral-500: #f7f8f9;
  --colors-neutral-600: #eff0f2;
  --colors-neutral-700: #dfe1e6;
  --colors-neutral-800: #c6cbd3;
  --colors-neutral-900: #aeb5c0;
  --colors-orange-100: #fffaf0;
  --colors-orange-200: #feebc8;
  --colors-orange-300: #fbd38d;
  --colors-orange-400: #f6ad55;
  --colors-orange-500: #ed8936;
  --colors-orange-600: #dd6b20;
  --colors-orange-700: #c05621;
  --colors-orange-800: #9c4221;
  --colors-orange-900: #7b341e;
  --colors-red-100: #fff5f5;
  --colors-red-200: #fed7d7;
  --colors-red-300: #feb2b2;
  --colors-red-400: #fc8181;
  --colors-red-500: #f56565;
  --colors-red-600: #e53e3e;
  --colors-red-700: #c53030;
  --colors-red-800: #9b2c2c;
  --colors-red-900: #742a2a;
  --colors-white: #ffffff;
  --leading-loose: 2;
  --leading-none: 1;
  --leading-normal: 1.5;
  --leading-relaxed: 1.625;
  --leading-snug: 1.375;
  --leading-tight: 1.25;
  --radius-1: 0.25rem;
  --radius-2: 0.5rem;
  --radius-3: 0.75rem;
  --radius-4: 1rem;
  --radius-button: 0.25rem;
  --radius-circle: 50%;
  --radius-pill: 9999px;
  --shadow-lg: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  --shadow-md: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  --shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  --shadow-xl: 30px 40px 60px 0 rgba(0, 0, 0, 0.1);
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-7: 1.75rem;
  --spacing-8: 2rem;
  --spacing-9: 2.25rem;
  --spacing-10: 2.5rem;
  --spacing-11: 2.75rem;
  --spacing-12: 3rem;
  --spacing-13: 3.25rem;
  --spacing-14: 3.5rem;
  --spacing-15: 3.75rem;
  --spacing-16: 4rem;
  --spacing-17: 4.25rem;
  --spacing-18: 4.5rem;
  --spacing-19: 4.75rem;
  --spacing-20: 5rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.75rem;
  --text-4xl: 2.125rem;
  --text-5xl: 3rem;
  --text-6xl: 4rem;
  --text-7xl: 4.5rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-sm: 0.875rem;
  --text-xl: 1.375rem;
  --text-xs: 0.75rem;
  --wrapper-lg: 1920px;
  --wrapper-md: 1440px;
  --wrapper-sm: 960px;
  --wrapper-xs: 375px;
}
