<!--------------------------------------------------------------------------------------------------------
// ParametersComponent.razor
// Copyright (c) 2022 RHEA System S.A.
// 
// Author: Antoine Théate, Sam Gerené, Alex Vorobiev, Alexander van Delft, Martin Risseeuw, Nabil Abbar
// 
// This file is part of UI-DSM. 
// The UI-DSM web application is used to review an ECSS-E-TM-10-25 model.
// 
// The UI-DSM application is provided to the community under the Apache License 2.0.
-------------------------------------------------------------------------------------------------------->
<div class="app-key-values">
	<AppAccordion Label="Parameters" Variant="AppAccordion.VariantValue.Tiny" PanelOpen="false">
		<ul class="app-key-values__list">
			@foreach (var item in this.Parameters)
			{
				<li><ParameterValuesVisualizer Parameter="item" Option="this.CurrentOption"/></li>
			}
		</ul>
	</AppAccordion>
</div>