.app-review-header {
  padding: var(--spacing-6);
  gap: var(--spacing-2);
  background-color: var(--colors-primary-50);
  display: grid;
  border-radius: var(--radius-2);
}

.app-review-header p {
  margin-bottom: 0;
  opacity: 0.8;
}
