h1,
.h1 {
  font-weight: 700;
  font-size: var(--text-4xl);
  line-height: 110%;
  margin: 0;
}

h2,
.h2 {
  font-weight: 700;
  font-size: var(--text-3xl);
  line-height: 130%;
  margin: 0;  
}

h3,
.h3 {
  font-weight: 700;
  font-size: var(--text-2xl);
  line-height: 130%;
  margin: 0;
}

h4,
.h4 {
  font-weight: 700;
  font-size: var(--text-base);
  line-height: 130%;
  margin: 0;
}

h5,
.h5 {
  font-weight: 700;
  font-size: var(--text-sm);
  line-height: 150%;
  margin: 0;
}

h6,
.h6 {
  font-weight: 700;
  font-size: var(--text-xs);
  line-height: 150%;
  margin: 0;
}

p,
body {
  line-height: 160%;
}
