<!--------------------------------------------------------------------------------------------------------
// ProjectPage.razor
// Copyright (c) 2022 RHEA System S.A.
//
// Author: Antoine Théate, Sam Gerené, Alex Vorobiev, Alexander van Delft
//
// This file is part of UI-DSM.
// The UI-DSM web application is used to review an ECSS-E-TM-10-25 model.
//
// The UI-DSM application is provided to the community under the Apache License 2.0.
-------------------------------------------------------------------------------------------------------->
@page "/Project/{ProjectId}/Review/{ReviewId}/ReviewObjective/{ReviewObjectiveId}"
@layout DefaultLayout

<PageTitle>Objective title | UI-DSM</PageTitle>

@if (this.ViewModel.ReviewObjectiveTasksViewModel.ReviewObjective == null)
{
	<div>
		Review Objective not found...
	</div>
}
else
{
	<UI_DSM.Client.Components.NormalUser.ReviewObjective.ReviewObjectiveTasks ViewModel="@this.ViewModel.ReviewObjectiveTasksViewModel" />
}



