<!--------------------------------------------------------------------------------------------------------
// TaskItem.razor
// Copyright (c) 2022 RHEA System S.A.
// 
// Author: Antoine Théate, Sam Gerené, Alex Vorobiev, Alexander van Delft, Martin Risseeuw
// 
// This file is part of UI-DSM. 
// The UI-DSM web application is used to review an ECSS-E-TM-10-25 model.
// 
// The UI-DSM application is provided to the community under the Apache License 2.0.
-------------------------------------------------------------------------------------------------------->

@namespace AppComponents

<div class="task-item">
  <div class="task-item__header">
    <h2 class="h4">@TaskTitle</h2>
    @if (isDone) {
      <FeatherCheckCircle Size="24" Color="#1FAB77" StrokeWidth="2" />
    }
  </div>
  <div class="task-item__body">
    @TaskDescription
  </div>
</div>

@code {
  /// <summary>
  ///     title text for the Task
  /// </summary>
  [Parameter]
  public string TaskTitle { get; set; }

  /// <summary>
  ///     Description text for the Task
  /// </summary>
  [Parameter]
  public string TaskDescription { get; set; }

  /// <summary>
  ///     Keep track if the task is done.
  /// </summary>
  [Parameter]
  public bool isDone { get; set; }
}
