.app-comment {
  display: grid;
  gap: var(--spacing-3);
  padding: var(--spacing-4);
  border-bottom: 1px solid var(--colors-gray-100);  
  font-size: var(--text-sm);
} 

.app-comment__header {
  display: grid;
  gap: var(--spacing-1);
  grid-template-columns: 24px 1fr;
  align-items: center;
}


.app-comment__header button {
  text-align: right;
  font-weight: 600;
}

.app-comment__button {
  color: var(--colors-primary-500);
  font-weight: 600;
  text-align: left;
}

.app-comment__name {
  font-weight: 600;
  color: var(--colors-gray-900);
}

.app-comment__date {
  color: var(--colors-gray-500);
}

.app-comment__body {
  font-size: var(--text-sm);
  display: grid;
  gap: var(--spacing-1);
  color: var(--colors-gray-600);
}