<!--------------------------------------------------------------------------------------------------------
// Index.razor
// Copyright (c) 2022 RHEA System S.A.
// 
// Author: Antoine Théate, Sam Gerené, Alex Vorobiev, Alexander van Delft, Martin Risseeuw
// 
// This file is part of UI-DSM. 
// The UI-DSM web application is used to review an ECSS-E-TM-10-25 model.
// 
// The UI-DSM application is provided to the community under the Apache License 2.0.
-------------------------------------------------------------------------------------------------------->

@page "/login"
@layout CleanLayout


<PageTitle>Login | UI-DSM</PageTitle>

<AuthorizeView>
  <NotAuthorized>
    <div class="login-page">
      <div class="login-page__container">
        <div class="login-page__right">
          <header>
            <h1 class="h2">Hello,<br /> login to get started 🚀</h1>
          </header>
          <Login />
        </div>
      </div>
    </div>
  </NotAuthorized>
</AuthorizeView>
