.default-layout {
    display: grid;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
}

.default-layout__main {
    display: grid;
    grid-template-areas: "a b c";
}

.default-layout__main--both-sidebars {
    grid-template-columns: minmax(240px, 320px) 1fr minmax(240px, 320px);
}

.default-layout__main--no-sidebars {
    grid-template-columns: 1fr;
    grid-template-areas: "b";
}

.default-layout__main--left-sidebar {
    grid-template-columns: minmax(240px, 320px) 1fr;
    grid-template-areas: "a b";
}

.default-layout__main--right-sidebar {
    grid-template-columns: minmax(240px, 320px) 1fr;
    grid-template-areas: "b c";
}

.default-layout__sidebar__left {
    grid-area: a;
    border-right: 1px solid var(--colors-gray-100);
}

.default-layout__sidebar__right {
    grid-area: c;
    border-left: 1px solid var(--colors-gray-100);
}

.sidebar__header {
    padding: var(--spacing-4) var(--spacing-6);
    background: var(--colors-gray-50);
    font-weight: 700;
    font-size: var(--text-lg);
    color: var(--colors-gray-700);
}

.default-layout__body {
    grid-area: b;
    padding: var(--spacing-8);
}