<!--------------------------------------------------------------------------------------------------------
// ErrorMessage.razor
// Copyright (c) 2022 RHEA System S.A.
// 
// Author: Antoine Théate, Sam Gerené, Alex Vorobiev, Alexander van Delft
// 
// This file is part of UI-DSM. 
// The UI-DSM web application is used to review an ECSS-E-TM-10-25 model.
// 
// The UI-DSM application is provided to the community under the Apache License 2.0.
-------------------------------------------------------------------------------------------------------->
@if (this.ViewModel.Errors.Count > 0)
{
	<ul class="m-top-10px">
	@foreach (var error in this.ViewModel.Errors.Items)
	{
		<li class="text-danger">@error</li>
	}
	</ul>
}