@using UI_DSM.Client.Enumerator
<!--------------------------------------------------------------------------------------------------------
// Login.razor
// Copyright (c) 2022 RHEA System S.A.
// 
// Author: Antoine Théate, Sam Gerené, Alex Vorobiev, Alexander van Delft
// 
// This file is part of UI-DSM. 
// The UI-DSM web application is used to review an ECSS-E-TM-10-25 model.
// 
// The UI-DSM application is provided to the community under the Apache License 2.0.
-------------------------------------------------------------------------------------------------------->

<EditForm Model="this.ViewModel.Authentication" OnValidSubmit="this.ViewModel.ExecuteLogin">
	<DataAnnotationsValidator/>
	
	<div class="login-form">	
		<AppInput id="username" Label="Username" @bind-Value="this.ViewModel.Authentication.UserName" />
		<AppInput id="password" Label="Password" type="password" @bind-Value="this.ViewModel.Authentication.Password" />


		<ValidationSummary/>
		
		@if (this.ViewModel.AuthenticationStatus == AuthenticationStatus.Fail)
		{
			<div class="input-group row m-top-10px">
				<label class="text-danger">@this.ViewModel.ErrorMessage</label>
			</div>
		}

		@switch (this.ViewModel.AuthenticationStatus)
		{
			case AuthenticationStatus.None:
				<AppButton Type="submit" Variant="AppButton.VariantValue.Secondary">
					Login
				</AppButton>
				break;
			case AuthenticationStatus.Authenticating:
				<AppButton Type="submit">
					Processing login
				</AppButton> 
				break;
			case AuthenticationStatus.Fail:
				<AppButton Type="submit">
					Retry login
				</AppButton>
				break;
		}
	</div>
</EditForm>
