.app-objective-item {
  border: 1px solid var(--colors-gray-100);
  border-radius: var(--radius-1);
  padding: var(--spacing-6);
  display: grid;
  gap: var(--spacing-2);
}

.app-project-card__footer {
    display: flex;
    gap: var(--spacing-6);
}

.app-project-card__stat {
    display: grid;
    gap: var(--spacing-2);
    grid-template-columns: auto 1fr;
    align-items: center;
}

.app-project-card__icon {
    padding: var(--spacing-2);
    background: var(--colors-primary-50);
    border-radius: var(--radius-1);
}

.stat__body {
    display: grid;
}

.stat__label {
    color: var(--colors-gray-600);
    font-size: var(--text-sm);
}

.stat__amount {
    margin: 0;
    font-weight: 700;
}