<!--------------------------------------------------------------------------------------------------------
// TextEditor.razor
// Copyright (c) 2022 RHEA System S.A.
// 
// Author: Antoine Théate, Sam Gerené, Alex Vorobiev, Alexander van Delft, Martin Risseeuw, Nabil Abbar
// 
// This file is part of UI-DSM. 
// The UI-DSM web application is used to review an ECSS-E-TM-10-25 model.
// 
// The UI-DSM application is provided to the community under the Apache License 2.0.
-------------------------------------------------------------------------------------------------------->
<DxFormLayout>
	<DxFormLayoutItem ColSpanMd="12">
		<RadzenHtmlEditor @bind-Value="@this.Content">
			<RadzenHtmlEditorUndo />
			<RadzenHtmlEditorRedo />
			<RadzenHtmlEditorSeparator />
			<RadzenHtmlEditorBold />
			<RadzenHtmlEditorItalic />
			<RadzenHtmlEditorUnderline />
			<RadzenHtmlEditorStrikeThrough />
			<RadzenHtmlEditorSeparator />
			<RadzenHtmlEditorColor />
			<RadzenHtmlEditorBackground />
			<RadzenHtmlEditorRemoveFormat />
		</RadzenHtmlEditor>
	</DxFormLayoutItem>
</DxFormLayout>
<ErrorMessage @ref="this.ErrorMessage"/>
<div class="modal-footer m-top-10px">
	<DxButton Enabled="@this.SubmitEnabled" RenderStyle="ButtonRenderStyle.Primary" Text="@this.SubmitText" Click="@this.OnSubmit"/>
</div>
