<!--------------------------------------------------------------------------------------------------------
// ProjectDetails.razor
// Copyright (c) 2022 RHEA System S.A.
//
// Author: Antoine Théate, Sam Gerené, Alex Vorobiev, Alexander van Delft
//
// This file is part of UI-DSM.
// The UI-DSM web application is used to review an ECSS-E-TM-10-25 model.
//
// The UI-DSM application is provided to the community under the Apache License 2.0.
-------------------------------------------------------------------------------------------------------->

<h1>Reviews Plans from : @this.ViewModel.Project.ProjectName</h1>

@foreach (var review in this.ViewModel.Project.Reviews)
{

	<div>
		<h3>@review.Title</h3>
		<h3>@review.CreatedOn</h3>
		<h3>@review.Description</h3>
		
	</div>
}
