.review-page {
    height: 100%;
    display: grid;
    grid-template-areas: "a b";
    grid-template-columns: calc(100% - 320px);
    margin-top: -32px;
    margin-right: -16px;
}

.review-page__body {
    padding: var(--spacing-8) 0;
    gap: var(--spacing-2);
    display: block;
}

.review-page__sidebar__right {
    grid-area: b;
    border-left: 1px solid var(--colors-gray-100);
    height: calc(100vh - 114px);
    overflow: auto;
}

.review-page__body-inner {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);
    height: 100%;
}

.review-page__header {
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-8);
    border-bottom: 1px solid var(--colors-gray-100);
    padding-bottom: var(--spacing-2);
    height: fit-content;
}