.tooltip-wrapper {
    position: relative;
    display: inline-block;
    cursor: help;
}

.tooltip-span {
    visibility: hidden;
    position: absolute;
    bottom: 100%;
    left: 50%;
    background-color: #363636;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    z-index: 1;
    transform: translateX(-50%);
}

.tooltip-span::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip-wrapper:hover .tooltip-span {
    visibility: visible;
}