<!--------------------------------------------------------------------------------------------------------
// AppBreadcrumb.razor
// Copyright (c) 2022 RHEA System S.A.
// 
// Author: Antoine Théate, Sam Gerené, Alex Vorobiev, Alexander van Delft, Martin Risseeuw
// 
// This file is part of UI-DSM. 
// The UI-DSM web application is used to review an ECSS-E-TM-10-25 model.
// 
// The UI-DSM application is provided to the community under the Apache License 2.0.
-------------------------------------------------------------------------------------------------------->

@namespace AppComponents


<nav class="app-breadcrumb">
  <ul>
    <li>
      <NavLink href="/">
        All projects
      </NavLink>
    </li>
    <FeatherChevronRight Size="16" Color="currentColor" StrokeWidth="1.5f" />
    <li>
      <NavLink href="/project/1">
        Project title
      </NavLink>
    </li>
    <FeatherChevronRight Size="16" Color="currentColor" StrokeWidth="1.5f" />
    <li>
      <NavLink href="/project/1/review/1">
        Review title
      </NavLink>
    </li>
    <FeatherChevronRight Size="16" Color="currentColor" StrokeWidth="1.5f" />
    <li>
      <NavLink href="/project/1/review/1/objective/1">
        Objective title
      </NavLink>
    </li>
    <FeatherChevronRight Size="16" Color="currentColor" StrokeWidth="1.5f" />
    <li>
      <NavLink href="/project/1/review/1/objective/1/task/1">
        Verify the proper...
      </NavLink>
    </li>
  </ul>
</nav>

