<!--------------------------------------------------------------------------------------------------------
// SelectedItemCard.razor
// Copyright (c) 2022 RHEA System S.A.
// 
// Author: Antoine Théate, Sam Gerené, Alex Vorobiev, Alexander van Delft, Martin Risseeuw, Nabil Abbar
// 
// This file is part of UI-DSM. 
// The UI-DSM web application is used to review an ECSS-E-TM-10-25 model.
// 
// The UI-DSM application is provided to the community under the Apache License 2.0.
-------------------------------------------------------------------------------------------------------->
@using UI_DSM.Client.ViewModels.Components.NormalUser.Views.RowViewModel
@using UI_DSM.Shared.Enumerator

<AppAccordion Label="@this.ViewModel.Label">
	@if (this.ViewModel.SelectedItem != null)
	{
		<DynamicComponent Type="@this.ViewModel.ComponentType" Parameters="this.parameters"/>
	}
	@if (this.ViewModel.Participant != null && 
	     this.ViewModel.Participant.IsAllowedTo(AccessRight.ReviewTask) 
	     && this.ViewModel.SelectedItem is IHaveThingRowViewModel {ReviewItem: not {IsReviewed: true } } row)
	{
		<button class="selectedItem__reviewed-button" @onclick="() => this.MarkAsReviewed.InvokeAsync(row)">
			<FeatherCheckCircle Size="24" Color="currentColor" StrokeWidth="1.5f"/>Mark as Reviewed
		</button>
	}
</AppAccordion>
