@using UI_DSM.Shared.Enumerator
<!--------------------------------------------------------------------------------------------------------
// TaskItem.razor
// Copyright (c) 2022 RHEA System S.A.
//
// Author: Antoine Théate, Sam Gerené, Alex Vorobiev, Alexander van Delft, Martin Risseeuw
//
// This file is part of UI-DSM.
// The UI-DSM web application is used to review an ECSS-E-TM-10-25 model.
//
// The UI-DSM application is provided to the community under the Apache License 2.0.
-------------------------------------------------------------------------------------------------------->

<div class="task-item">
  <div class="task-item__header">
	  <h2 class="h4">@this.ReviewTask.Description</h2>
    @if (this.ReviewTask.Status == StatusKind.Done)
    {
      <FeatherCheckCircle Size="24" Color="#1FAB77" StrokeWidth="2" />
    }
  </div>
</div>
