<!--------------------------------------------------------------------------------------------------------
// ReviewPage.razor
// Copyright (c) 2022 RHEA System S.A.
//
// Author: Antoine Théate, Sam Gerené, Alex Vorobiev, Alexander van Delft
//
// This file is part of UI-DSM.
// The UI-DSM web application is used to review an ECSS-E-TM-10-25 model.
//
// The UI-DSM application is provided to the community under the Apache License 2.0.
-------------------------------------------------------------------------------------------------------->
@page "/Project/{ProjectId}/Review/{ReviewId}"
@layout DefaultLayout

<PageTitle>Project Review | UI-DSM</PageTitle>

@if (!this.IsLoading && this.ViewModel.ReviewObjectiveViewModel.Review is null)
{
	<div style="display: flex; align-items: center; justify-content: center;">
		<h3>No reviews objectives found</h3>
	</div>
}
else
{
<LoadingComponent IsLoading="this.IsLoading">
	<ReviewObjectiveComponent ViewModel="@this.ViewModel.ReviewObjectiveViewModel" />
</LoadingComponent>
}