<!--------------------------------------------------------------------------------------------------------
// AppBreadcrumb.razor
// Copyright (c) 2022 RHEA System S.A.
// 
// Author: Antoine Théate, Sam Gerené, Alex Vorobiev, Alexander van Delft, Martin Risseeuw, Jaime Bernar
// 
// This file is part of UI-DSM. 
// The UI-DSM web application is used to review an ECSS-E-TM-10-25 model.
// 
// The UI-DSM application is provided to the community under the Apache License 2.0.
-------------------------------------------------------------------------------------------------------->

@namespace AppComponents

<nav class="app-breadcrumb">
  <ul>
        @foreach (var link in this.BreadcrumbLinks)
        {
            <li>
                <NavLink href="@link.Uri">
                    @link.Title
                </NavLink>
            </li>
            <FeatherChevronRight Size="16" Color="currentColor" StrokeWidth="1.5f" />
        }
  </ul>
</nav>

