<!--------------------------------------------------------------------------------------------------------
// DiagramLegendWidget.razor
// Copyright (c) 2022 RHEA System S.A.
//
// Author: Antoine Théate, Sam Gerené, Alex Vorobiev, Alexander van Delft, Jaime Bernar
//
// This file is part of UI-DSM.
// The UI-DSM web application is used to review an ECSS-E-TM-10-25 model.
//
// The UI-DSM application is provided to the community under the Apache License 2.0.
-------------------------------------------------------------------------------------------------------->
@using UI_DSM.Client.Enumerator
@using UI_DSM.Client.Extensions

<div id="legend-external-container">
    @if(this.IsExpanded)
    {
        <div id="legend-parent">
            <div id="legend-title-row">
                <h4 id="legend-title">Legend</h4>
                <button @onclick="@((e) => this.IsExpanded = false)">
                    <FeatherX Size="25" Color="currentColor" />
                </button>
            </div>

            <RadzenTabs id="legend-tab-control">
                <Tabs>
                    <RadzenTabsItem Text="Products">
                        <div class="node-legend-row">
                            <div class="physical-node selected-node"></div>
                            <p>Selected Node</p>
                        </div>
                        <div class="node-legend-row">
                            <div class="physical-node central-node"></div>
                            <p>Center Node</p>
                        </div>
                        <div class="node-legend-row">
                            <div class="physical-node">
                                <div id="commented-node"></div>
                            </div>
                            <p>Node with comment</p>
                        </div>
                    </RadzenTabsItem>
                    <RadzenTabsItem Text="Ports">
                        <div class="port-legend-row">
                            <div class="physical-port">
                                <div class="port-color" style="background:var(--port-in-color)"></div>
                            </div>
                            <p>In</p>
                        </div>
                        <div class="port-legend-row">
                            <div class="physical-port">
                                <div class="port-color" style="background:var(--port-out-color)"></div>
                            </div>
                            <p>Out</p>
                        </div>
                        <div class="port-legend-row">
                            <div class="physical-port">
                                <div class="port-color" style="background:var(--port-inout-color)"></div>
                            </div>
                            <p>InOut</p>
                        </div>
                        <div class="port-legend-row">
                            <div class="physical-port commented-port"></div>
                            <p>Port with comment</p>
                        </div>
                    </RadzenTabsItem>
                    <RadzenTabsItem Text="Interfaces">
                        <div class="interface-legend-row">
                            <div class="interface-color-block" style="background:var(--comment-color)"></div>
                            <p>Interface with comment</p>
                        </div>

                        @{
                            var enumValues = Enum.GetValues(typeof(InterfaceCategory)).Cast<InterfaceCategory>().ToList();
                            @foreach (var enumValue in enumValues)
                            {
                                <div class="interface-legend-row" @key=enumValue>
                                    <div class="interface-color-block" style="background:@enumValue.ToColorString()"></div>
                                    <p>@enumValue.ToName()</p>
                                </div>
                            }
                        }
                    </RadzenTabsItem>
                </Tabs>
            </RadzenTabs>
        </div>
    }
    else
    {
        <button @onclick="@((e) => this.IsExpanded = true)" id="legend-collapsed-button">
            <FeatherTag Size="20" Color="currentColor" />
        </button>
    }
</div>


